<div class="mt-6 flex justify-center space-x-2">
  <% if @characters.total_pages > 1 %>
    <% if @characters.current_page > 1 %>
      <%= link_to 'Previous', url_for(page: @characters.current_page - 1), class: 'px-3 py-2 bg-red-500 text-white rounded-lg hover:bg-blue-600' %>
    <% end %>
    
    <% first_page = @characters.current_page - 2 %>
    <% last_page = @characters.current_page + 2 %>
    
    <% if first_page > 1 %>
      <%= link_to 1, url_for(page: 1), class: 'px-3 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600' %>
      <% if first_page > 2 %>
        <span class="px-3 py-2">...</span>
      <% end %>
    <% end %>
    
    <% (first_page..last_page).each do |page| %>
      <% if page > 0 && page <= @characters.total_pages %>
        <%= link_to page, url_for(page: page), class: page == @characters.current_page ? 'px-3 py-2 bg-red-500 text-white rounded-lg hover:bg-blue-600' : 'px-3 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600' %>
      <% end %>
    <% end %>
    
    <% if last_page < @characters.total_pages %>
      <% if last_page < @characters.total_pages - 1 %>
        <span class="px-3 py-2">...</span>
      <% end %>
      <%= link_to @characters.total_pages, url_for(page: @characters.total_pages), class: 'px-3 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600' %>
    <% end %>
    
    <% if @characters.current_page < @characters.total_pages %>
      <%= link_to 'Next', url_for(page: @characters.current_page + 1), class: 'px-3 py-2 bg-red-500 text-white rounded-lg hover:bg-blue-600' %>
    <% end %>
  <% end %>
</div>
